<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="" placeholder="enter username">
            <input type="password" name="password" id="" placeholder="enter password">
            <button type="submit">Login</button>
        </form>
    </center>
</body>
</html>