<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>REGISTER PAGE</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="" placeholder="enter username"><br><br>
            <input type="email" name="email" id="" placeholder="enter email"><br><br>
            <input type="password" name="password" id="" placeholder="enter password"><br><br>

            <button type="submit">Register</button>

        </form>
    </center>
</body>
</html>